@import "../../../scss/variables.scss";

.messages-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-secondary;
  background: $color-primary;

  h2 {
    margin: 0;
    padding: 10px;
    height: 100%;
    width: 100%;
    clip-path: polygon(0% 0, 98% 0, 95% 100%, 0 100%);
    background: #31273f;
  }

  div {
    padding: 5px;
  }
}

.messages-content {
  padding: 20px;
  height: 100%;
  max-height: 700px;
  overflow: auto;
}
