<div class="container">
  <h3 class="dialog-header">
    <span>Add Message</span>
    <mat-icon class='pointer' [mat-dialog-close]="false">close</mat-icon>
  </h3>

  <form class="dialog-body" [formGroup]="form" mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [formControlName]="'email'" placeholder="Enter your email" />
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Invalid email format
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput [formControlName]="'message'" placeholder="Enter your message"></textarea>
      <mat-error *ngIf="form.get('message')?.hasError('required')">
        Message is required
      </mat-error>
      <mat-error *ngIf="form.get('message')?.hasError('maxlength')">
        Message cannot exceed 100 characters
      </mat-error>
    </mat-form-field>
  </form>

  <mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button (click)="onSubmit()" [disabled]="form.invalid">Submit</button>
  </mat-dialog-actions>

</div>
